---
layout: page
title: "Curriculam Vitae"
description: ""
header-img: "img/post-bg-coffee.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <style>
        ul.no {list-style-type: none;}
    </style>
    
    <h3 id="toc_0">Education background</h3>
<ul class="no"><font size="2",color="DimGrey"> 
    <li>2018-2021, <b>Ph.D. in Translation and Language Science,</b> Universitat Pompeu Fabra (Spain) </li>
    <li style="text-indent:5em"> <small>Thesis: <i>Embodied pronunciation training: The benefits of visuospatial hand gestures</i>.</small></li>
    <li style="text-indent:5em"> <small>Excellent <i>cum laude</i></small></li>
    <li style="text-indent:5em"> <small>Supervisor: Dr. Pilar Prieto (ICREA-UPF)</small></i></li>
    <li>2017-2018, <b>M. A. in Theoretical and Applied Linguistics,</b> Universitat Pompeu Fabra (Spain) </li>
    <li>2010-2013, <b>M. A. in Japanese Language and Literature,</b> Tianjin Foreign Studies University (China) </li>
    <li>2006-2010, <b>B. A. in Japanese,</b> Dezhou University (China) </li>
</font></ul>
<ul>
</ul>

<h3 id="toc_0">Teaching experience</h3>

<ul class="no"><font size="2",color="DimGrey"> 
    <li>2018-2022, <b>Chinese instructor</b> at Hanlin Chinese Language School, Barcelona (Spain).</li>
    <li>2018-2022, <b>Linguistic analyst</b> at Lausanne Business Solutions, Barcelona (Spain).</li>
    <li>2013-2017, <b>Assistant Lecturer</b> at Hefei University (China).</li>
    <li style="text-indent:5em"> <small>Courses: <i>Linguistics; Japanese; Academic Japanese Writing, Bachelor’s Degree Final Projects</i></small></li>
    <li>2013-2017, <b>Visiting Professor</b> at Hefei Youxiangxue Language Institution (China).</li>
    <li style="text-indent:5em"> <small>Courses: <i>Japanese (N2-N1), Spanish (A1-B1)</i></small></li>
    <li>2012,&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Research Assistant</b> to China Japanese Education Association, Tianjin (China).</li>
    <li>2011-2013, <b>Visiting Professor</b> at Tianjin Normal University (China).</li>
    <li style="text-indent:5em"> <small>Courses: <i>Basic Japanese I-II</i></small></li>
    <li>2011,&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Teaching Assistant</b> at Tianjin Normal University (China).</li>
    <li style="text-indent:5em"> <small>Courses: <i>apanese Reading</i></small></li>
</font>
</ul>

<h3 id="toc_0">Research projects</h3>

<ul class="no"><font size="2",color="DimGrey"> 
    <li>2019-2011, <b>Multimodal language learning (MLL): Prosodic and gestural integration in pragmatic and phonological development.</b> Funded by Ministerio de Ciencia, Innovación y Universidades (Spain). Project reference: PGC2018-097007-B-I00</li>
    <li style="text-indent:5em"> <small>PI: Dr. Pilar Prieto</small></li>
    <li>2017-2021, <b>Grup de Recerca Consolidat (GRC) Grup d’Estudis de Prosòdia (GrEP).</b> Funded by Plan of Research of Catalonia (Spain). Project reference: 2017 SGR _ 971.</li>
    <li style="text-indent:5em"> <small>PI: Dr. Pilar Prieto</i></small></li>
    <li>2015-2017, <b>近代留日作家在中日词汇交流中的作用与影响</b> [Influence of Chinese writers educated in Japan on the lexical interchange between China and Japan in modern time] Funded by Hefei University (China). Project reference: 15KY07RW.</li>
    <li style="text-indent:5em"> <small>PI: Peng Li</small></li>
    <li>2012-2014, <b>中日两国词汇交流史</b> [The history of lexical interchange between China and Japan] Funded by China National Planning Office of Philosophy and Social Science. Project reference: 08BYY076.</li>
    <li style="text-indent:5em"> <small>PI: Dr. Yunbo Li</small></li>
    <li>2011,&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Survey on Japanese Language Education Abroad 2012: China</b> unded by Japan Foundation.</li>
    <li style="text-indent:5em"> <small>PI: <i>Dr. Gang Xiu</i></small></li>
   
</font>
</ul>
<b>Download my CV <a herf:"https://tecnocampuc.academia.edu/PengLi/CurriculumVitae">here</a></b>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>
    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>
    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>
    <h5>Talks</h5>
    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'resources',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
