---
layout: page
title: "Publications"
description: ""
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
 
        
<h3 id="toc_0">Journal articles</h3>

<ul><font size="2",color="DimGrey">
<p><li><b>Li, P.</b>, Zhang, Y., Baills, F., & Prieto, P. (2023). Musical perception skills predict speech imitation skills: Differences between speakers of tone and intonation languages. <i>Language and Cognition</i>. <a href="https://doi.org/10.1017/langcog.2023.52">10.1017/langcog.2023.52</a></li></p>
<p><li><b>Li, P.</b>, Baills, F., Baqué, L., & Prieto, P. (2023). The effectiveness of the embodied prosodic training in L2 accentedness and vowel accuracy. <i>Second Language Research, 39</i>(4):1077-1105. <a href="https://doi.org/10.1177/02676583221124075">10.1177/02676583221124075</a></li></p>
<p><li>Ozakin, A., Xi, X., <b>Li, P.</b>, & Prieto, P. (2023). Thanks or tanks: Training with tactile cues improves learners’ accuracy of English interdental consonants in an oral reading task. <i>Language Learning and Development, 19</i>(4): 404-419. <a href="https://doi.org/10.1080/15475441.2022.2107522">10.1080/15475441.2022.2107522</a></li></p>
<p><li><b>Li, P.</b>, Xi, X., Baills, F. & Prieto, P. (2021). Training non-native aspirated plosives with hand gestures: Learners' gesture performance matters. <i>Language Cognition and Neuroscience, 36</i>(10): 1313-1328. <a href="https://doi.org/10.1080/23273798.2021.1937663">10.1080/23273798.2021.1937663</a></li></p>
<p><li><b>Li, P.</b>, Baills, F. & Prieto, P. (2020). Observing and producing durational hand gestures facilitates the pronunciation of novel vowel-length contrasts. <i>Studies in Second Language Acquisition, 42</i>(5): 1015 - 1039. <a href="https://doi.org/10.1017/S0272263120000054">10.1017/S0272263120000054</a>
    <b>[<font color="red">Reported by </font> <a href="https://www.lavanguardia.com/vida/20200416/48558548631/los-gestos-facilitan-la-pronunciacion-de-palabras-de-una-segunda-lengua.html"><i><ins>La Vanguardia</ins></i></a>]</b></li></p>
<p><li>Xi, X., <b>Li, P.</b>, Baills, F. & Prieto, P. (2020). Hand gestures facilitate the acquisition of novel phonemic contrasts when appropriately mimic target phonetic features. <i>Journal of Speech, Language, and Hearing Research, 63</i>(11):3571-3585. <a href="https://doi.org/10.1044/2020_JSLHR-20-00084">10.1044/2020_JSLHR-20-00084</a></li></p>
<p><li><b>Li, P.</b> (2017). 周作人散文中的日语借词对现代汉语的影响 [On the impact of Japanese loanwords in Zhou Zuoren’s essays on modern Chinese]<i>. Journal of Hefei University, 36</i>(1), 106-110. <a href="https://doi.org/10.3969/j.issn.1673-162x.2017.01.023">10.3969/j.issn.1673-162x.2017.01.023</a></li></p>
<p><li><b>Li, P.</b> (2014). 周作人散文中的日语借词初探 [A preliminary study on Japanese loanwords in Zhou Zuoren's essays]. <i>Journal of Hefei University, 31</i>(4), 58-62. <a href="https://doi.org/10.3969/j.issn.1672-920x.2014.04.012">10.3969/j.issn.1672-920x.2014.04.012</a></li></p>
</font></ul>

<h3 id="toc_2">Book chapters</h3>

<ul><font size="2",color="DimGrey"> 
<p><li><b>Li, P.</b>, Baills, F., Xi, X., & Prieto, P. (2024). Gesture shape and gesture-speech alignment predict simultaneous L2 sound production accuracy. In A. Brown & S. W. Eskildsen (eds.). <i>Multimodality and Multilingual Interaction Across Epistemologies</i>. Now York: Routledge. <a href="https://www.taylorfrancis.com/books/edit/10.4324/9781003355670/multimodality-multilingual-interaction-across-epistemologies-amanda-brown-s%C3%B8ren-eskildsen">10.4324/9781003355670</a></li></p>
<p><li><b>Li, P.</b> (2018). 周作人和日语借词 [Zhou Zuoren and Japanese loan words]. In Y. Li (ed.). <i>近代汉日词汇交流研究 [Lexical Interchange between China and Japan in Modern Times]</i>. Beijing: Foreign Language Teaching and Research Press.</li></p>
</font></ul>
    
<h3 id="toc_1">Peer reviewed preceedings</h3>

<ul><font size="2",color="DimGrey"> 
<p><li><b>Li, P.</b>, Flege, J., Martin, C., & Kartushina, N. (2023). <a href="https://pengli-pengli.github.io/Li_et_al_icphs.pdf">Speech stability across time: Evidence from Norwegian vowels in spontaneous speech production</a>. In R. Skarnitzl & J. Volín (Eds.), <i>Proceedings of the 20th International Congress of Phonetic Sciences (ICPhS2023)</i> (pp. 1201-1205). Guarant International.</li></p>
<p><li><b>Li, P.</b> & Xi, X. (2023). <a href="https://pengli-pengli.github.io/Li_Xi_icphs.pdf">Nuclear contours of Spanish echo questions produced by proficient Chinese learners of Spanish: A dynamic analysis</a>. In R. Skarnitzl & J. Volín (Eds.), <i>Proceedings of the 20th International Congress of Phonetic Sciences (ICPhS2023)</i> (pp. 2491-2495). Guarant International.</li></p>
<p><li>Xi, X. & <b>Li, P.</b> (2023). <a href="https://pengli-pengli.github.io/Xi_Li_icphs.pdf">Effects of stress and prominence on Spanish stops and lenition in L2 speech of proficient Mandarin learners of Spanish</a>. In R. Skarnitzl & J. Volín (Eds.), <i>Proceedings of the 20th International Congress of Phonetic Sciences (ICPhS2023)</i> (pp. 2740-2744). Guarant International.</li></p>
<p><li>Xi, X., <b>Li, P.</b>, & Prieto, P. (2023). <a href="https://pengli-pengli.github.io/Xi_Li_Prieto_icphs.pdf">Does visuospatial working memory predict L2 audiovisual perceptual learning from phonetic training with hand gestures?</a> In R. Skarnitzl & J. Volín (Eds.), <i>Proceedings of the 20th International Congress of Phonetic Sciences (ICPhS2023)</i> (pp. 2670-2674). Guarant International.</li></p>
<p><li>Xi, X., <b>Li, P.</b>, & Prieto, P. (2023). Reducing acoustic overlap of L2 English vowels through gestures encoding lip aperture.</a> In  A. Henderson & A. Kirkova-Naskova (Eds.), <i>Proceedings of the 7th International Conference onEnglish Pronunciation: Issues and Practices</i> (pp. 261–270). Université Grenoble-Alpes.<a href="https://hal.science/hal-04178886v1/preview/EPIP7Proc_2023_Xi%20et%20al.pdf#page=2">10.5281/zenodo.8225191</a></li></p>
<p><li><b>Li, P.</b> & Xi, X. (2022). Spanish lexical stress produced by proficient Mandarin learners of Spanish. In S. Ishihara & M. Tronnier (Eds.), <i>Proceedings of the 4th International Symposium on Applied Phonetics (ISAPh2022) </i>(pp. 40-45). <a href="https://www.isca-speech.org/archive/pdfs/isaph_2022/li22_isaph.pdf">10.21437/ISAPh.2022-8</a></li></p>
<p><li>Xi., X. & <b>Li, P.</b> (2022). Spanish stops and their allophones produced by proficient Mandarin learners of Spanish. In V. H. Do, C. M. Luong, S. Nakamura, H. H., Nguyen, & T. M. H. Nguyen (Eds.), <i>25th Conference of the Oriental COCOSDA International Committee for the Co-ordination and Standardisation of Speech Databases and Assessment Techniques (O-COCOSDA), 2022</i> (pp. 152-157). <a href="https://ieeexplore.ieee.org/document/9997932">10.1109/O-COCOSDA202257103.2022.9997932</a></li></p>
<p><li><b>Li, P.</b> & Ye, C. (2022). Voice onset time of Japanese stops produced by Shanghainese-Mandarin learners with various Japanese proficiency levels. In  E. Babatsouli (Ed), <i>Proceedings of the International Symposium on Monolingual and Bilingual Speech 2022</i> (pp. 54-60). ISBN: <a href="https://speechandlanguage.louisiana.edu/sites/speechandlanguage/files/Proceedings%20ISMBS%202022.pdf#page=62">979-8-218-08730-2</a></li></p>
<p><li><b>Li, P.</b>, Zhang, Y., Fu, X., & Baills, F., & Prieto, P. (2022). Melodic perceptive skills predict Catalan speakers’ imitation abilities of unfamiliar languages. In S. Frota, M. Cruz, & M. Vigário (Eds.), <i>Proceedings of the 11th International Conference on Speech Prosody</i> (pp. 876–880). <a href="https://www.isca-speech.org/archive/pdfs/speechprosody_2022/li22f_speechprosody.pdf">10.21437/SpeechProsody.2022-178</a></li></p>
<p><li><b>Li, P.</b>, Xi, X., Baills, F., & Prieto, P. (2020, accepted). Appropriately performing hand gestures cueing phonetic features facilitates simultaneous speech imitation in an L2. In <i>Proceedings of the 7th GeSpIn Conference</i>. <a href="https://pengli-pengli.github.io/Li_gespin_2020.pdf">[Author copy]</a></li></p>
<p><li>Xi, X., <b>Li, P.</b>, Baills, F., & Prieto, P. (2020, accepted). Training the pronunciation of L2 novel phonetic features: A comparison of observing versus producing hand gestures. In <i>Proceedings of the 7th GeSpIn Conference</i>. <a href="https://pengli-pengli.github.io/Xi_gespin_2020.pdf">[Author copy]</a></li></p>
<p><li>Yuan, C. & <b>Li, P.</b> (2019). Interpreting Mandarin positive polar questions. In A. Botinis (Ed.), <i>Proceedings of 10th International Conference of Experimental Linguistics</i> (pp. 213-216).<a href="https://exlingsociety.com/wp-content/uploads/proceedings/exling-2019/10_0053_000415.pdf">10.36505/ExLing-2019/10/0053/000415</a></li></p>
<p><li><b>Li, P.</b> (2011). 借用語から見る日本語の摂取力 [Absorption capacity of Japanese: A study on loanwords in Japanese]. In G. Xiu & Y. Li (Eds.), <i>異文化コミュニケーションのための日本語教育 [Japanese Education for the Cross-cultural Communication]</i>. Beijing: Higher Education Press</li></p>
    </font></ul>

<h3 id="toc_3">Others</h3>

<ul><font size="2",color="DimGrey"> 
<li><b>Li, P.</b> (2021, January 12). 从体验认知视域谈多模态教学——以语音教学为例 [Multimodal learning from the perspective of embodiment: The pronunciation]. <i>中国社会科学报（中文版）[China Social Science Today, Chinese version]</i>. p.3. <a href="http://sscp.cssn.cn/xkpd/yyx_20148/202101/t20210112_5243998.html">[link]</a></li>
    </font></ul>

<hr>

<small> <font color="a0a9a9">
<b>Note：</b>
Please write to me if you need an author's copy of any article that you are interested in.
</font>
<small>
        
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'resources',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

