---
layout: page
title: "Publications"
description: ""
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
 
        
<h3 id="toc_0">Journal articles</h3>

<ul><font size="2",color="DimGrey">
<p><li>Baills, F., <b>Li, P.</b>, & Prieto, P. (accepted). The benefits of embodied interventions on phonological learning in a foreign language: a systematic review. <i>Frontiers in Communication</i>.</li></p>
<p><li><b>Li, P.</b>, Baills, F., Baqué, L., & Prieto, P. (minor revision). Embodied prosodic training helps improve not only accentedness but also vowel accuracy. <i>Second Language Research</i>.</li></p>
<p><li>Ozakin, A., Xi, X., <b>Li, P.</b>, & Prieto, P. (2021, accepted). Thanks or tanks: Training with tactile cues facilitates the pronunciation of non-native English interdental consonants. <i>Language Learning and Development</i>.</li></p>
<p><li><b>Li, P.</b>, Xi, X., Baills, F. & Prieto, P. (2021). Training non-native aspirated plosives with hand gestures: Learners' gesture performance matters. <i>Language Cognition and Neuroscience</i>.<a href="https://doi.org/10.1080/23273798.2021.1937663">10.1080/23273798.2021.1937663</a></li></p>
<p><li><b>Li, P.</b>, Baills, F. & Prieto, P. (2020). Observing and producing durational hand gestures facilitates the pronunciation of novel vowel-length contrasts. <i>Studies in Second Language Acquisition, 42</i>(5): 1015 - 1039. <a href="https://doi.org/10.1017/S0272263120000054">10.1017/S0272263120000054</a>
    <b>[<font color="red">Reported by </font> <a href="https://www.lavanguardia.com/vida/20200416/48558548631/los-gestos-facilitan-la-pronunciacion-de-palabras-de-una-segunda-lengua.html"><i><ins>La Vanguardia</ins></i></a>]</b></li></p>
<p><li>Xi, X., <b>Li, P.</b>, Baills, F. & Prieto, P. (2020). Hand gestures facilitate the acquisition of novel phonemic contrasts when appropriately mimic target phonetic features. <i>Journal of Speech, Language, and Hearing Research, 63</i>(11):3571-3585. <a href="https://doi.org/10.1044/2020_JSLHR-20-00084">10.1044/2020_JSLHR-20-00084</a></li></p>
<p><li><b>Li, P.</b> (2017). 周作人散文中的日语借词对现代汉语的影响 [On the impact of Japanese loanwords in Zhou Zuoren’s essays on modern Chinese]<i>. Journal of Hefei University, 36</i>(1), 106-110. <a href="https://doi.org/10.3969/j.issn.1673-162x.2017.01.023">10.3969/j.issn.1673-162x.2017.01.023</a></li></p>
<p><li><b>Li, P.</b> (2014). 周作人散文中的日语借词初探 [A preliminary study on Japanese loanwords in Zhou Zuoren's essays]. <i>Journal of Hefei University, 31</i>(4), 58-62. <a href="https://doi.org/10.3969/j.issn.1672-920x.2014.04.012">10.3969/j.issn.1672-920x.2014.04.012</a></li></p>
</font></ul>
<ul>
</ul>
<ul>
<ins><b>Manuscripts under review or in preparation</b></ins>
<font size="2",color="DarkGray">
<p><li>Xi, X., <b>Li, P.</b>, Baills, F., & Prieto, P. (under review). Appropriate gesture performance helps the pronunciation of nonnative segmental features more than gesture observation.</li></p>
<p><li><b>Li, P.</b>, Zhou, S., Xi, X., & Yuan, C. (in prep.). Prosodic realization of bias in Mandarin positive polar questions.</li></p>
<p><li>Baills, F., <b>Li, P.</b>, & Prieto, P. (in prep.). The role of multimodal prosodic training on L2 pronunciation learning.</li></p>
</font></ul>

<h3 id="toc_1">Peer reviewed preceedings</h3>

<ul><font size="2",color="DimGrey"> 
<p><li><b>Li, P.</b>, Zhang, Y., Fu, X., & Baills, F., & Prieto, P. (2022). Melodic perceptive skills predict Catalan speakers’ imitation abilities of unfamiliar languages. In <i>Proceedings of the 11th International Conference on Speech Prosody</i>, SP2022, 22-26 September 2022. Universidade do Lisboa, Portugal. <a href="https://www.researchgate.net/publication/359256991_Melodic_perception_skills_predict_Catalan_speakers'_speech_imitation_abilities_of_unfamiliar_languages">[Author copy]</a></li></p>
<p><li><b>Li, P.</b>, Xi, X., Baills, F., & Prieto, P. (2020, accepted). Appropriately performing hand gestures cueing phonetic features facilitates simultaneous speech imitation in an L2. In <i>Proceedings of the 7th GeSpIn Conference</i>, GeSpIN 2020, 7-9 September 2020. KTH Royal Institute of Technology, Sweden. <a href="https://pengli-pengli.github.io/Li_gespin_2020.pdf">[Author copy]</a></li></p>
<p><li>Xi, X., <b>Li, P.</b>, Baills, F., & Prieto, P. (2020, accepted). Training the pronunciation of L2 novel phonetic features: A comparison of observing versus producing hand gestures. In <i>Proceedings of the 7th GeSpIn Conference</i>, GeSpIN 2020, 7-9 September 2020. KTH Royal Institute of Technology, Sweden. <a href="https://pengli-pengli.github.io/Xi_gespin_2020.pdf">[Author copy]</a></li></p>
<p><li>Yuan, C., & <b>Li, P.</b> (2019). Interpreting Mandarin positive polar questions. In A. Botinis (ed.). <i>Proceedings of10th International Conference of Experimental Linguistics</i>. Athens, Greek: ExLing Society.<a href="https://doi.org/10.36505/ExLing-2019/10/0053/000415">10.36505/ExLing-2019/10/0053/000415</a></li></p>
<p><li><b>Li, P.</b> (2011). 借用語から見る日本語の摂取力 [Absorption capacity of Japanese: A study on loanwords in Japanese]. In G. Xiu & Y. Li (eds.). <i>異文化コミュニケーションのための日本語教育 [Japanese Education for the Cross-cultural Communication]</i>. Beijing: Higher Education Press</li></p>
    </font></ul>

<h3 id="toc_2">Book chapter</h3>

<ul><font size="2",color="DimGrey"> 
<li><b>Li, P.</b> (2018). 周作人和日语借词 [Zhou Zuoren and Japanese loan words]. In Y. Li (ed.). <i>近代汉日词汇交流研究 [Lexical Interchange between China and Japan in Modern Times]</i>. Beijing: Foreign Language Teaching and Research Press.</li>

    </font></ul>

<h3 id="toc_3">Others</h3>

<ul><font size="2",color="DimGrey"> 
<li><b>Li, P.</b> (2021, January 12). 从体验认知视域谈多模态教学——以语音教学为例 [Multimodal learning from the perspective of embodiment: The pronunciation]. <i>中国社会科学报（中文版）[China Social Science Today, Chinese version]</i>. p.3. <a href="http://sscp.cssn.cn/xkpd/yyx_20148/202101/t20210112_5243998.html">[link]</a></li>
    </font></ul>

<hr>

<small> <font color="a0a9a9">
<b>Note：</b>
Please write to me if you need an author's copy of any article that you are interested in.
</font>
<small>
        
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'resources',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

