---
layout: page
title: "Communications"
description: ""
header-img: "img/post-bg-talk.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    
     <h3 id="toc_0">Invited talks</h3>

<ul><font size="2",color="DimGrey"> 
<li><b>Li, P.</b> (2021, July). Role of hand gestures in L2 segmental learning. <i>Kita's Lab, University of Warwick</a></i>. On-line.</li>
<li><b>Li, P.</b>, Baills, F., Baqué, L., & Prieto, P. (2020, December). The effects of visuospatial hand gestures on the L2 learning of French suprasegmental features and front rounded vowels. <i><a href="https://www.upf.edu/web/traduccio/noticies/-/asset_publisher/me4XTRRxMt0H/content/id/240614101/maximized#.YRrspogzZnI">Nijmegen-Barcelona L2 Seminar</a></i>. Virtual.</li>
<li><b>Li, P.</b> (2020, January). Multimodal training of L2 pronunciation: The role of visuospatial hand gestures. <i><a href="https://parles.upf.edu/llocs/wsurling/programa2020">Workshop d’UR-Ling 2020</a></i>. Universitat Pompeu Fabra, Barcelona (Spain).</li>

    </font></ul>
    
    <h3 id="toc_1">Oral presentations</h3>

<ul><font size="2",color="DimGrey">
<li>Xi, X. & <b>Li, P.</b>. (2022, Novermber). Spanish stops and their allophones produced by proficient Mandarin learners of Spanish <i><a href="https://vlsp.org.vn/cocosda2022/program-schedule">The 25th Conference of the Oriental COCOSDA (O-COCOSDA2022)</a></i>. On-line event.</li>
<li>Xi, X., <b>Li, P.</b> & Prieto, P. (2022, July). Hand gestures encoding articulatory feature and the learning of L2 vowels: the effects of visual accessibility <i><a href="https://d0a2fcb0-a63d-40ac-b517-a60ab10f6709.filesusr.com/ugd/02868e_6b95ba1801b84195a4a5df70b6a49bc7.pdf">The 9th Conference of the International Society for Gesture Studies (ISGS9)</a></i>. Chicago (USA).</li>
<li>Xi, X., <b>Li, P.</b> & Prieto, P. (2022, May). Hand gestures cueing visible mouth aperture help the pronunciation ofnovel L2 English vowel pair <i><a href="https://epip7.sciencesconf.org/data/pages/EPIP7_Abstracts_Booklet_May13.pdf#page=45">The 7th International Conference on English Pronunciation: Issues and Practices (EPIP7)</a></i>. Grenoble (France).</li>
<li><b>Li, P.</b> & Ye, C. (2022, April). Bilingual (dis)advantages interact with foreign language proficiency: Evidence from Japanese plosives produced by Shanghainese-Mandarin and Mandarin speakers. <i><a href="https://speechandlanguage.louisiana.edu/sites/speechandlanguage/files/ISMBS%202022%20Program%20%26%20Book%20of%20Abstracts.pdf">International Symposium on Monolingual and Bilingual Speech (ISMB)</a></i>. Lafayette (USA).</li>
<li>Xi, X., <b>Li, P.</b> & Prieto, P. (2022, April). Training English vowels with hand gestures: the effects of encoding articulatory movements to different degrees of visual accessibility <i><a href="https://drive.google.com/file/d/1BxjWbITY-Z_TyV_IG5HPLfEhws2AtEOW/view">New Sounds 2022</a></i>. Barcelona (Spain).</li>
<li><b>Li, P.</b> & Xi, X. (2021, October). The realization of Spanish lexical stress and vowel quality by high-proficiency Mandarin learners of Spanish. <i><a href="https://www.lerconference.org/">The 3rd International Conference on Language Education and Research</a></i>. On-line event.</li>
<li>Xi, X. & <b>Li, P.</b> (2021, October). Production of Spanish stops and approximants by Mandarin learners of Spanish. <i><a href="https://www.lerconference.org/">The 3rd International Conference on Language Education and Research</a></i>. On-line event.</li>
<li><b>Li, P.</b>, Xi, X., Baills, F. & Prieto, P. (2021, July). Actively producing hand gestures mimicking articulatory features favors the acquisition of novel words containing those features. <i><a href="https://www.ub.edu/eurosla2021/">The 30th Conference of the European Second Language Association (EuroSLA 30)</a></i>. Barcelona (Spain).</li>
<li>Xi, X., <b>Li, P.</b>, Baills, F. & Prieto, P. (2021, July). Hand gestures facilitate the acquisition of novel phonemic contrasts when adequately encoding target articulatory features. <i><a href="https://www.ub.edu/eurosla2021/">The 30th Conference of the European Second Language Association (EuroSLA 30)</a></i>. Barcelona (Spain).</li>
<li><b>Li, P.</b>, Xi, X., Baills, F.,& Prieto, P. (2020, September). Appropriately performing hand gestures cueing phonetic features facilitates simultaneous speech imitation in an L2. <i><a href="https://sprakbanken.speech.kth.se/events/gespin/">The 7th Gesture and Speech in Interaction Conference (GESPIN2020)</a></i>, Stockholm (Sweden).</li>
<li>Xi, X., <b>Li, P.</b>, Baills, F.,& Prieto, P. (2020, September). Training the pronunciation of L2 novel phonetic features: a comparison of observing versus producing hand gestures. <i><a href="https://sprakbanken.speech.kth.se/events/gespin/">The 7th Gesture and Speech in Interaction Conference (GESPIN2020)</a></i>, Stockholm (Sweden).</li>
<li><b>Li, P.</b>, Baills, F., & Prieto, P. (2019, June). Durational hand gestures facilitate the learning of L2 vowel length contrasts. <i><a href="http://conference.unisalento.it/ocs/public/conferences/27/fmgr_upload/documents/PAPE2019_Booklet_of_abstracts.pdf">The 3rd Phonetics and Phonology in Europe Conference (PaPE 2019)</a></i>, Lecce (Italy).
    <b><font color="red">Best talk award</font> by [<a href = "https://labphon.org/content/best-student-awards-pape-2019">LabPhon</a>]</b>.</li>
<li><b>Li, P.</b>, Baills, F., & Prieto, P. (2019, September). Does the use of visuospatial hand gestures facilitate the learning of L2 vowel length contrasts?. <i><a href="https://www.uni-muenster.de/imperia/md/content/eurosla/eurosla28_programme_online_version_2018-08-30.pdf">The 28th Conference of the European Second Language Association (EuroSLA 28)</a></i>, Münster (Germany).</li>
<li><b>Li, P.</b>, Baills, F., & Prieto, P. (2019, September). Que l'ús de gestos facilita l'aprenentatge de la durada vocàlica en una segona llengua?. <i>Xè Workshop sobre la Prosòdia del Català</i>, Barcelona (Spain).</li>
<li><b>Li, P.</b>, & Liu, M. (2015, May). On the Japanese loanwords in Zhou Zuoren’s essays: A corpus-based study. <i>International Symposium on Corpus Linguistics 2015</i>, Tianjin (China).</li>
<li>Li, Y., & <b>Li, P.</b> (2013, March). 周作人の文章にみられる新漢語 [“New Kango” in Zhou Zuoren’s essays]. <i>International Symposium on Modern East Asian Language Contact</i>, Seoul (Korea).</li>
<li><b>Li, P.</b> (2011, August). 借用語から見る日本語の摂取力 [Absorption capacity of Japanese: A study on loanwords in Japanese]. <i>The 10th International Conference on Japanese Language Education (ICJLE)</i>,Tianjin (China).</li>

    </font></ul>
    <h3 id="toc_2">Poster presentations</h3>

<ul><font size="2",color="DimGrey"> 
<li><b>Li, P.</b> & Xi, X. (2022, September). Spanish lexical stress produced by proficient Mandarin learners of Spanish. <i><a href="https://konferens.ht.lu.se/fileadmin/user_upload/conference/isaph2022/ISAPh_2022_Book_of_Abstracts.pdf">The 4th International Symposium on Applied Phonetics (ISAPh4)</a></i>. Lund (Sweden).</li>
<li><b>Li, P.</b>, Zhang, Y., Fu, X., Baills, F., & Prieto, P. (2022, May). Melodic perceptive skills predict Catalan speakers’ imitation abilities of unfamiliar languages. <i><a href="http://labfon.letras.ulisboa.pt/sp2022/detailed_program.html">11th International Conference on Speech Prosody (SP2022)</a></i>. Lisbon (Portugal).</li>
<li>Ozakin, A., Xi, X., <b>Li, P.</b>, & Prieto, P. (2021, June). Thanks or tanks: training with tactile cues facilitates the pronunciation of English interdental consonants. <i><a href="https://brocku.ca/psllt-2021/wp-content/uploads/sites/213/PSLLT-2021-Full-Timetable-June-19.pdf">12th Annual Pronunciation in Second Language Learning and Teaching Conference (PSLLT 2021)</a></i>. On-line event.</li>
<li><b>Li, P.</b>, Baills, F., Baqué, L., & Prieto, P. (2021, June). Embodied prosodic training enhances the learning of L2 pronunciation and specific vocalic features. <i><a href="https://pape2021.upf.edu/program-2/">The 4th Phonetics and Phonology in Europe Conference (PaPE 2021)</a></i>. Barcelona (Spain).
    <b><font color="red"> Best poster award</font> by [<a href="https://pape2021.upf.edu/pape-2021-student-awards/">LabPhon</a>]</b>.</li>
<li>Yuan, C., & <b>Li, P.</b>, (2019, September). Interpreting Mandarin positive polar questions. <i>The 10th Tutorial and Research Workshop on Experimental Linguistics (ExLing 2019)</i>, Lisbon (Portugal).</li>
<li><b>Li, P.</b>, & Prieto, P. (2019, August). A short training with durational hand gestures improves Catalan speakers' pronunciation of Japanese vowel length contrasts. <i><a href="http://www.waseda.jp/assoc-ns2019/program.html">The 9th International Symposium on the Acquisition of Second Language Speech (New Sounds 2019)</a></i>, Tokyo (Japan).</li>
<li><b>Li, P.</b>, Baills, F., & Prieto, P. (2019, April). Durational hand gestures facilitate the learning of L2 vowel length contrasts. <i><a href="https://wwwa.fundacio.urv.cat/congressos/isp2019/program">XIV International Symposium of Psycholinguistics (ISP)</a></i>, Tarragona (Spain).</li>
  </font></ul>
    
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

